#input-decortaion {
  background-color: transparent;
  border-color: transparent;
  color: #f5d67b;
  padding-left: 10px;
  font-family: monospace;
  font-size: 14px;
}

input[type='email'],
input[type='number'],
input[type='text'],
textarea {
  @extend #input-decortaion;
}
